@charset "UTF-8";

 /*----------------------------------*\
<>           General Styling          <>
 \*----------------------------------*/

article, aside, figcaption, 
figure, footer, header, 
hgroup, nav, section, li {
	display: block;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, p, blockquote, figure, ol, ul {
    margin: 0;
    padding: 0;
}


/* Body *\
 \*----*/

body {
    margin: 0;
    font-size: 16px;
    background: url(../images/GBA.png);
    background-position: -38px -29px;
}

/* links *\
 \*-----*/

a {
    text-decoration: none;
    color: inherit;
}

/* Headings *\
 \*--------*/

h1, h2, h3, h4 {
    font-size: inherit;
    font-family: inherit;
}

h2 {
	color:violet;
}

h3 {
	color:yellow;
}

h4 {
	color:lime;
}

/* Paragraphs *\
 \*----------*/

p {
	color:lime;
}

/* Images *\
 \*------*/

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

/* Lists *\
 \*-----*/

ul {
	list-style-type: none;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: arial;
}

canvas {
    position:absolute;
    top: 395px;
    left: 720px; 
    right:auto;
    transform: translate(-50%,-50%);
}

#background {
    z-index: 1; 
    background: #2B2B2B;
}

#buildings { z-index:3; }
#landforms { z-index:2; }
#weather { z-index:4; }
#effects { z-index:5; }
#units { z-index:6; }
#cursor{ z-index:7; }
.terrain{ z-index: 9; }

#hud {
    color: white;
    position:absolute;
    z-index: 10;
    display: inline;
    border-radius: 3%;
    background: #2B2B2B;
    opacity:.7;
    width: 150px;
    height: 200px;
    box-shadow: 0 0 10px 6px black inset;
    left:1025px;
    top:495px;
}

#buildUnitScreen {
    padding: 3px;
    position: absolute;
    z-index: 10;
    border-radius: 2%;
    border: 3px solid black;
    width:400px;
    height:470px;
    background: white;
    box-shadow: 4px 0px 2px 1px black;
    left:260px;
    top:200px;
}

.cost {
    float: right;
}

#selectUnitScreen {
    overflow: hidden;
    border-radius: 1%;
    height:95%;
    left:5%;
    top:5%;
    bottom:5%;
    right:5%;
    border-left:solid red 5px;
    border-right:solid red 5px;
    border-top:solid red 12px;
    border-bottom:solid red 12px;
}

#selectUnitScreen ul {
    height:64px;
}

#selectUnitScreen li {
    font-size:25px;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 64px;
    display: inline-block;
}

#hud h2 {
    font-size: 20px;
}