
#footer {
  z-index: 11;
  width:97.5%;
  height:20%;
  left:.5%;
  bottom:1%;
}

#descriptionOrChat {
  height: 83%;
  overflow: auto;
  overflow-x:hidden;
}

#descriptions {
  display: none;
  line-height: 83%;
  text-align: left;
  padding-left:1%;
  font-size: 42px;
  padding-top: 5%;
}

#descriptions.active {
  display: block;
}

#descriptions.movedUp {
  line-height: 5%;
  height: 5%;
  position: relative;
  top: -15px;
  font-size: 38px;
  padding-bottom: 5px;
}

#chat {
  display: none;
  -moz-user-select: -moz-text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

#yes, #no { display: inline; };
#yesText, #noText {
  font-size: 40px;
  color: black;
}