#scrollBar {
  position: absolute;
  z-index: 12;
  display: block;
  bottom: 0;
  width: 100%;
  height: 64px;
  background: black;
}

#scrollingInfo {
  position: absolute;
  display: block;
  line-height: 60px;
  color: white;
  font-size: 30px;
}