/*  inner map/game select css stuff */

.numberOfBuildingsItem,
.categorySelectionElement,
.categorySelectionElement li {
  white-space: nowrap;
  display: inline-block;
}

.categorySelectionElement {
  transition: left 0.3s ease;
  position: absolute;
}

.categorySelectionElement [pos=right] {
  left:100%;
}

.categorySelectionElement [pos=left] {
  left:-100%;
}