.categorySelectionElement li,
.mapSelectionElement li {
  height: 64px;
  line-height: 64px;
  font-size: 30px;
}

#mapSelection {
  height:93.5%;
}

#numberOfBuildings,
#categorySelection {
  height: 77%;
}