.textInput {
  border: red 1px solid;
  border-radius: 2px;
  display: block;
  left: 10px;
  background: transparent;
  font-size: 30px;
  height: 32px;
  width: 98%;
  padding: 5px;
  margin: 2px;
  z-index: 101;
}

.inputForm {
  display: none;
  background: transparent;
  position: relative;
  z-index: 100;
  border-top-width: 0;
  width:99.5%;
  height: 0;
}

.inputForm.active {
  display: block;
  padding: 5px;
  position: relative;
  top: -7px;
  height: 100%;
}

#descriptionOrChatScreen,
.inputForm {
  transition: height 0.3s ease;
}

#nameForm{
  border-bottom-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-top-width: 5px;
}