.gameScreen, .setupScreen, #gameScreen {
    position:absolute;
    top: 395px;
    left: 720px;
    transform: translate(-50%,-50%);
    width: 960px;
    height:640px;
    border-right: inset 3px hsl(0,0%,10%);
    border-bottom: inset 3px hsl(0,0%,15%);
    border-left: inset 3px hsl(0,0%,40%);
    border-top: inset 3px hsl(0,0%,40%);
}

#gameScreen {
  
    z-index: 11;
}

.setupScreen {

  overflow: hidden;
}