/*outer element for red border*/

#actionHud,
#optionsMenu,
#unitInfoScreen,
#buildUnitScreen,
#buildingsDisplay,
#mapSelectScreen,
#gameSelectScreen,
#categorySelectScreen,
#descriptionOrChatScreen {
  padding: 3px;
  position: absolute;
  z-index: 10;
  border-radius: 2%;
  border: 3px solid black;
  background: white;
  box-shadow: 4px 0px 2px 1px black;
}

#buildingsDisplay{
  width: 376px;
  height: 98px;
  left: 584px;
  top: 10px;
}

#mapSelectScreen,
#gameSelectScreen {
  width:346px;
  height:356px;
  left:-12px;
  top:268px;
}

#categorySelectScreen {
  top:140px;
  left:-12px;
  width:346px;
  height: 100px;
}

#buildUnitScreen {
  width:400px;
  height:470px;
  left:280px;
  top:250px;
}

#selectUnitScreen .cost {
  float:right;
  color:gold;
  font-family:Aldrich;
  font-size: 50px;
  text-shadow: -2px -2px 0 rgba(0,0,0,1), 2px -2px 0 rgba(0,0,0,1), -2px 2px 0 rgba(0,0,0,1) , 2px 2px 0 rgba(0,0,0,1) , 2px 0 0 rgba(0,0,0,1) , -2px 0 0 rgba(0,0,0,1) , 0 -2px 0 rgba(0,0,0,1) , 0 2px 0 rgba(0,0,0,1),  4px 0 0 rgba(0,0,0,1), 5px -1px 0 rgba(0,0,0,0.25) , 5px 1px 0 rgba(0,0,0,0.25) , 5px 0 0 rgba(0,0,0,1);
}

/*red border*/

#actions,
#optionSelect,
#selectUnitScreen,
#selectMapScreen,
#selectGameScreen,
#unitInfo,
#numberOfBuildings,
#selectCategoryScreen,
#descriptionOrChat,
.inputForm {
  background: rgba(255,0,0,.05);
  overflow: hidden;
  border-radius: 1%;
  height:95%;
  left:5%;
  top:5%;
  bottom:5%;
  right:5%;
  border-left:solid red 5px;
  border-right:solid red 5px;
  border-top:solid red 12px;
  border-bottom:solid red 12px;
}

/* -- multiple in one... -- */

#actions ul,
#optionSelect ul,
#selectUnitScreen ul {
  height:64px;
}

#actionHud,
#optionsMenu {
  width: 256px;
  left: 900px;
  top: 100px;
}

#actionHud {
  width: 192px;
}
