#login {
  z-index: 15;
  background: rgba(43,43,43,.8);
}

#loginForm {
  position: absolute;
  border-radius: 5%;
  top:20%;
  right: 17.5%;
  width: 65%;
  height: 55%;
  background-color: #004c62;
}

#fbButton {
  position: absolute;
  background-color: #9d8b18;
  border-radius: 25%;
  bottom:5%;
  left:15%;
  width:30%;
  height:15%;
}