$colorOfFogElement: #DDDDDD;
$colorOfWeatherElement: #66FFFF;
$colorOfFundsElement: #A3FFA3;
$colorOfTurnElement: #FF99FF;
$colorOfCaptureElement: #D1A3FF;
$colorOfPowerElement: #E8BF96;
$colorOfVisualsElement: #D6FF5C;

@each $setting, $color in zip(
        $settings,
        $colorOfFogElement
        $colorOfWeatherElement
        $colorOfFundsElement
        $colorOfTurnElement
        $colorOfCaptureElement
        $colorOfPowerElement
        $colorOfVisualsElement)
{
  ##{$setting}Background {
    background-color: $color;
  }
}
