#fogBackground {
  background-color: #DDDDDD;
}

#weatherBackground {
  background-color: #66FFFF;
}

#fundsBackground {
  background-color: #A3FFA3;
}

#turnBackground {
  background-color: #FF99FF;
}

#captBackground {
  background-color: #D1A3FF;
}

#powerBackground {
  background-color: #E8BF96;
}

#visualsBackground {
  background-color: #D6FF5C;
}
